@font-face {
    font-family: 'myriadpro';
    src: url('../fonts/myriadpro-cond-webfont.eot');
    src: local('myriadpro'), url('../fonts/myriadpro-cond-webfont.ttf') format('truetype');
}

body {
	font-family: 'myriadpro', arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	line-height:normal;
	margin: 0;
	padding: 0;
}

ul.menu {
	text-transform:uppercase;
}

.media_icon {
	display: block;
	width: 15px;
	height: 15px;
	background-image: url(../images/bt-media.png);
	background-repeat: no-repeat;
}

.facebook_icon {
	background-position: 1px 2px;
}
.facebook_icon:hover {
	background-position: 1px -14px;
}

.linkedin_icon {
	background-position: -15px 2px;
}
.linkedin_icon:hover {
	background-position: -15px -14px;
}

.twitter_icon {
	background-position: -31px 2px;
}
.twitter_icon:hover {
	background-position: -31px -14px;
}

.header {
	height: 100px;
	padding-top: 40px;
	padding-left: 5%;
}

.media{
	height: 17px;
	margin: 0;
	padding: 1px;
	background-color: #33363b;
}

.media li{
	float: right;
	padding-right: 20px;
}
.media a{
	color: #5f6063;
}

.nav li{
	display: inline;
	/*list-style-type: none;
	padding-right: 20px;
	width: 30px;
	background-color: gray;*/
}

a:active,
a:link, 
a:visited, 
a:focus,
a:hover {
	text-decoration: none
}

.row li {
	display: inline;
}

.logo {
	float: left;
}

.menu{
	margin-right: 3%;
}
.menu li{
	float: right;
	list-style-type: none;
	padding: 20px;
}
.menu a {
	color: black;
}
.menu a:hover {
	color: #cbd9de;
}

.slider{
	text-align: center;
	margin-left: 15%;
	margin-bottom: 50px
}

.main{
	background-color: #f0f0ee;
	padding: 30px;
	display: table;
	width: 100%;
}

.info{
	margin: 20px;
	float: left;
	position: relative;
	margin-left: 15% ;
  	margin-right: auto ;
}

#info_holder {
	float: left;
	width: 304px;
	display: inline;
	margin-bottom:40px;
	padding: 10px;
}

#top{
	width: 100%;
	height: 18px;
	background-image:url('../images/filete-pattern.jpg');
	background-repeat:repeat-x;
}

ul.submenu li:hover ul ul ,
ul.submenu li:hover ul ul ul,
ul.submenu li.over ul ul,
ul.submenu li.over ul ul ul  {
	display: none;
	background-color: #677484;
	color: #929fab;
	text-transform: none;
	padding: 4px;
	opacity:0.65;
	-moz-opacity: 0.65;
	filter: alpha(opacity=65);
}

ul.submenu{
	display: none;
}

ul.submenu li:hover ul,
ul.submenu li li:hover ul,
ul.submenu li li li:hover ul,
ul.submenu li.over ul,
ul.submenu li li.over ul,
ul.submenu li li li.over ul {
	display: block;
}

.submenu li ul li {
	opacity:1;
}
.submenu a {
	color: #cbd9de;
}
.submenu a:hover {
	color: #9f8e42;
}

.title {
	font-weight: bold;
	font-size: larger;
}

.light-blue{
	color: #b2c7cf;
}

.readmore{
	background-color: #677484;
	padding: 5px;
	width: 60px;
	float: right;
}
a:checked, a:hover, a:visited {
	/*color: white;*/
}

#atualizacoes{
	float: left;
	display: inline;
}

dd{
	margin: 0;
}
dt{
	font-weight: bold;
	color: 
}

.post{
	margin-bottom: 1px;
	margin-top: 1px;
}
.blog a:hover{
	text-decoration: underline;
}
.blog a:visited{
	color: #b2c7cf;
}
.author{
	font-size: small;
	margin-top: 2px;
	margin-bottom: 14px;
}